Pillow==10.4.0
transformers==4.44.1
sentencepiece
ipykernel
matplotlib
scikit-learn
protobuf
jiwer
# This one is important. pip -e install dtrocr in base directory for development mode installation.
# file:////home/kane/DTrOCR/dtrocr
#cairosvg #pip
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118