Pillow==10.4.0
transformers==4.44.1
sentencepiece
ipykernel
matplotlib
scikit-learn
protobuf
jiwer
# file:////home/kane/DTrOCR/dtrocr
#cairosvg #pip
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118